<header>
  <div class="container">
    <div class="header-wrapper">
      <a href="../index.html">
        <svg class="logo" width="145" height="30">
          <use href="../img/sprite.svg#logo"></use>
        </svg>
      </a>
      <button type="button" class="burger-menu">
        <svg width="24" height="24">
          <use href="../img/sprite.svg#menu"></use>
        </svg>
      </button>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="" class="nav-link">Солодощі</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Про нас</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Відгуки</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Часті питання</a>
          </li>
        </ul>
        <button type="button" class="btn nav-btn">До покупок</button>
      </nav>
    </div>
  </div>
</header>
