<div class="producuct-modal-backdrop">
  <div class="container">
    <div class="product-modal">
      <button class="product-modal-btn" type="button">
        <svg class="product-modal-svg" width="24px" height="24px">
          <use href="../img/sprite.svg#close"></use>
        </svg>
      </button>
      <img
        class="product-modal-img"
        src="../img/test-mobile.jpg"
        alt=""
        width="640"
        height="480"
      />
      <h2 class="product-modal-title">Шоколадний фондан</h2>
      <p class="product-modal-price">120 грн</p>
      <ul class="product-modal-rating">
        <li class="product-modal-rating-item">
          <svg class="star-icon" width="24" height="24">
            <use href="../img/sprite.svg#star"></use>
          </svg>
        </li>
      </ul>
      <p class="product-modal-descr">
        Класичний десерт з рідким шоколадним центром.
      </p>
      <p class="product-modal-ingredients">
        Склад: Шоколад, яйця, цукор, масло, борошно.
      </p>
      <button class="btn" type="button">Перейти до замовлення</button>
    </div>
  </div>
</div>
