<section class="sweet-list-section section" id="sweet-list-section">
  <div class="container">
    <div class="sweet-list-section-container">
      <div class="sweet-list-section-wrapper">
        <h2 class="section-title">Солодощі</h2>
        <p class="sweet-text">
          Спробуйте наші смачні десерти, які вас здивують!
        </p>
      </div>
      <form class="sweet-form" action="">
        <select class="sweet-select" name="" id="">
          <option value="">Всі десерти</option>
        </select>
      </form>
      <ul class="sweet-categories">
        <li class="sweet-categories-item">
          <a href="" class="sweet-categories-link">Всі десерти</a>
        </li>
      </ul>
    </div>

    <ul class="sweet-list">
      <li class="sweet-item">
        <img class="sweet-img" src="../img/test-mobile.jpg" alt="" />
        <p class="sweet-overtitle">Гарячі десерти</p>
        <h3 class="sweet-title">Шоколадний фондан</h3>
        <p class="sweet-description">
          Класичний десерт з рідким шоколадним центром.
        </p>
        <div class="sweet-list-inner">
          <p class="sweet-price">120 грн</p>
          <button type="button">
            <svg class="sweet-list-svg" width="24" height="24">
              <use href="../img/sprite.svg#arrow_outward"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="sweet-item">
        <img class="sweet-img" src="../img/test-mobile.jpg" alt="" />
        <p class="sweet-overtitle">Гарячі десерти</p>
        <h3 class="sweet-title">Шоколадний фондан</h3>
        <p class="sweet-description">
          Класичний десерт з рідким шоколадним центром.
        </p>
        <div class="sweet-list-inner">
          <p class="sweet-price">120 грн</p>
          <button type="button">
            <svg class="sweet-list-svg" width="24" height="24">
              <use href="../img/sprite.svg#arrow_outward"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="sweet-item">
        <img class="sweet-img" src="../img/test-mobile.jpg" alt="" />
        <p class="sweet-overtitle">Гарячі десерти</p>
        <h3 class="sweet-title">Шоколадний фондан</h3>
        <p class="sweet-description">
          Класичний десерт з рідким шоколадним центром.
        </p>
        <div class="sweet-list-inner">
          <p class="sweet-price">120 грн</p>
          <button type="button">
            <svg class="sweet-list-svg" width="24" height="24">
              <use href="../img/sprite.svg#arrow_outward"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="sweet-item">
        <img class="sweet-img" src="../img/test-mobile.jpg" alt="" />
        <p class="sweet-overtitle">Гарячі десерти</p>
        <h3 class="sweet-title">Шоколадний фондан</h3>
        <p class="sweet-description">
          Класичний десерт з рідким шоколадним центром.
        </p>
        <div class="sweet-list-inner">
          <p class="sweet-price">120 грн</p>
          <button type="button">
            <svg class="sweet-list-svg" width="24" height="24">
              <use href="../img/sprite.svg#arrow_outward"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
    <button class="btn sweet-list-btn" type="button">Завантажити ще</button>
  </div>
</section>
