.header-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-menu {
  width: 48px;
  height: 48px;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo {
    transition: fill 250ms linear;
  }

  .logo:hover,
  .logo:focus {
    fill: #f19898;
  }

  .burger-menu {
    display: none;
  }

  .nav {
    display: flex;
    gap: 16px;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 16px;
  }

  .nav-link {
    border-bottom: 1px solid transparent;
    transition:
      color 250ms linear,
      border-color 250ms linear;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-color: #080c0c;
  }

  .nav-link:active {
    color: #f19898;
    border-color: #f19898;
  }

  .nav-btn {
    padding: 10px 20px;
    width: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .nav,
  .nav-list {
    gap: 32px;
  }
}
